# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
*.so
*.dll
*.log

# Virtualenv
.venv/
venv/
ENV/

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini

# FavVidPlayer app
.favmeta.json
Favorites_FavVidPlayer/

# Misc
*.bak
*.tmp
*.swp
